In [4]:
import pandas as pd
import pymongo
df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [5]:

# Convert DataFrame to list of dictionaries
data = df.to_dict(orient='records')

# MongoDB config
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://himansbupandey27:HH2yVTqudvgaPE5w@cluster0.lezkwsh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Connect to MongoDB
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [6]:
print("Total records to upload:", len(data))

Total records to upload: 381109

In [7]:
rec = collection.insert_many(data[:10])
print("Uploaded test batch of 10")

Uploaded test batch of 10

In [10]:
import time

# Remove _id field to avoid duplicate key errors
for record in data:
    record.pop('_id', None)

batch_size = 5000
total = len(data)
start_time = time.time()

print(f"Inserting {total} records in batches of {batch_size}...")

for i in range(0, total, batch_size):
    batch = data[i:i+batch_size]
    try:
        collection.insert_many(batch, ordered=False)  # ordered=False continues on error
        print(f"✅ Inserted batch {i//batch_size + 1} ({i+len(batch)} of {total})")
    except pymongo.errors.BulkWriteError as bwe:
        print(f"⚠️ Batch {i//batch_size + 1} had some issues: {bwe.details['writeErrors'][:3]} ...")
        # Optional: log or handle failed inserts

print(f"\n🎉 Done. Time taken: {time.time() - start_time:.2f} seconds.")

✅ Inserted batch 63 (315000 of 381109)
✅ Inserted batch 64 (320000 of 381109)
✅ Inserted batch 65 (325000 of 381109)
✅ Inserted batch 66 (330000 of 381109)
✅ Inserted batch 67 (335000 of 381109)
✅ Inserted batch 68 (340000 of 381109)
✅ Inserted batch 69 (345000 of 381109)
✅ Inserted batch 70 (350000 of 381109)
✅ Inserted batch 71 (355000 of 381109)
✅ Inserted batch 72 (360000 of 381109)
✅ Inserted batch 73 (365000 of 381109)
✅ Inserted batch 74 (370000 of 381109)
✅ Inserted batch 75 (375000 of 381109)
✅ Inserted batch 76 (380000 of 381109)
✅ Inserted batch 77 (381109 of 381109)

🎉 Done. Time taken: 1433.27 seconds.